<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="yxm.zyf.love.mapper.ProdMapper">
  <resultMap id="BaseResultMap" type="yxm.zyf.love.entity.ProdDO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="pname" jdbcType="VARCHAR" property="pname" />
    <result column="pnum" jdbcType="VARCHAR" property="pnum" />
  </resultMap>
  <sql id="Base_Column_List">
    id, pname, pnum
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from prod
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from prod
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="yxm.zyf.love.entity.ProdDO">
    insert into prod (id, pname, pnum
      )
    values (#{id,jdbcType=BIGINT}, #{pname,jdbcType=VARCHAR}, #{pnum,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="yxm.zyf.love.entity.ProdDO">
    insert into prod
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="pname != null">
        pname,
      </if>
      <if test="pnum != null">
        pnum,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="pname != null">
        #{pname,jdbcType=VARCHAR},
      </if>
      <if test="pnum != null">
        #{pnum,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="yxm.zyf.love.entity.ProdDO">
    update prod
    <set>
      <if test="pname != null">
        pname = #{pname,jdbcType=VARCHAR},
      </if>
      <if test="pnum != null">
        pnum = #{pnum,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="yxm.zyf.love.entity.ProdDO">
    update prod
    set pname = #{pname,jdbcType=VARCHAR},
      pnum = #{pnum,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>